@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

.menu-hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.menu-hover::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.menu-hover:hover::after {
  transform: scale(1, 1);
}

.main-frame {
  @apply mx-auto max-w-6xl pt-12 px-4 pb-6 xs:w-full md:w-11/12 md:mb-6;
}

.main-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.main-button {
  /* background-color: rgba(239, 68, 68, 1); */
  background: rgba(255, 255, 255, 1);
}

.test {
	width: 100%;
	height: 100vh;
  background: linear-gradient(90deg, rgba(254,128,228,1) 0%, rgba(232,207,113,1) 35%, rgba(236,172,241,1) 100%);
	background-size: 100% 100%;/*サイズを大きくひきのばす*/
}

.hoge {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.gravini {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.slide-bar {
  position: absolute;
  width: 100%;
  background-color: red;
  height: 100%;
  left: 0;
  opacity: 0;
  animation: slidebar 1s ease;
}

.gravini h1 {
  opacity: 0;
  animation: fadein 1.1s 1s ease forwards;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.centralize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.slide-bottom-to-top {
  position: absolute;
  width: 100%;
  background-color: rgb(56 189 248);
  height: 100%;
  left: 0;
  opacity: 0;
  animation: slide-in-out 1s 2.6s ease;
}

.slide-left-to-right-bar {
  position: absolute;
  width: 100%;
  background-color: rgb(56 189 248);
  height: 100%;
  left: 0;
  opacity: 0;
  animation: slidebar 1s ease;
}

.slide-left-to-right-text {
  opacity: 0;
  animation: fadein 1.1s 1s ease forwards;
  text-align: center;
}

.fade-in-fade-out {
  animation: fadein-fadeout 2s 1s ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein-fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidebar{
  0% {
    opacity: 1;
    transform-origin: left;
    transform: scaleX(0);
  }
  60% {
    transform-origin: left;
    opacity: 1;
    transform: scaleX(1);
  }
  60.001% {
    transform-origin:right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
    opacity: 1;
  }
}
@keyframes slide-in-out {
    0%{
      opacity: 1;
      transform-origin: bottom;
      transform: scaleY(0);
    }
    60% {
      opacity: 1;
      transform-origin: bottom;
      transform: scaleY(1);
    }
    60.001% {
      transform-origin: top;
    }
    100% {
      transform-origin: top;
      transform: scaleY(0);
      opacity: 1;
    }
}